.name {
font-family:'Noto Serif JP', serif;
font-size: 1.25em;
}

a:link {text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;

}

a:active {
    text-decoration: underline;
    color: black;

  }     